head {
    text-align: center;
  }
  body {
    background-color: white;
    }    
  img {
    width: 100%;
    height: auto;
    margin: 0 30px;
  }
#navbar {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #fd9d24;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-family: 'Arial', sans-serif;
    font-weight: bold;

  }
  
  #navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 8%;
}
  
  #navbar a:hover {
    background-color: #ddd;
    color: #000;
  }
  #left-block {
    float: left;
    width: 47%;
    padding: 20px;
    text-align: justify;
}
#right-block {
    float: right;
    width: 47%;
    padding: 20px;
    text-align: justify;
}
  .block-title {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }
  .solution-title {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 17px;
  }
  .solucion {
    font-family: 'Arial', sans-serif;
  }
