header {
    background-color: rgb(59, 190, 255);
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: white;
  }

  body {
    background-color: rgb(102, 212, 255);
  }

  table, th, td {
    border:3px solid rgb(0, 0, 0);
    border-collapse: collapse;
    font-family:verdana;
  }

  td {
    text-align: center;
  }
  
    footer {
    background-color: rgb(99, 99, 99);
    padding: 30px;
    text-align: right;
    font-size: 23px;
    color: white;
  }
  
